// VARIABLES
$primary: #003399;
$secondary: #FFCC00;

html, body {
  height: 100%
}

body {
  margin: 0;
  &.ticker-active {
    margin-top: 20px;
  }
  display: flex;
  flex-direction: column;
  & * {
    font-family: 'Libre Franklin', sans-serif !important;
  }
  margin-bottom: -172px;
  overflow: hidden scroll;
}

.content {
  flex: 1 0 auto;
  width: 100%;
}

.img {
  max-width: 100%;
  &.border {
    border-width: 3px;
    border-style: solid;
  }
}

.b-info {
  border-color: $primary;
}
.b-warning {
  border-color: $secondary;
}
.bg-info {
  background-color: $primary;
}
.bg-warning {
  background-color: $secondary;
}
.info {
  color: $primary;
}
.warning {
  color: $secondary;
}

.logo {
  float: left;
  height: 80px;
}

.ticker {
  display: none;
  padding-top: 3px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  &.bg-error {
    color: white;
  }
  &.bg-warning {
    color: #222;
  }
  z-index: 20;
  height: 20px;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 100%;
    @media only screen and (min-width: 1024px) { animation: marquee 60s linear infinite; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) { animation: marquee 45s linear infinite; }
    @media only screen and (min-width: 480px) and (max-width: 767px) { animation: marquee 30s linear infinite; }
    @media only screen and (max-width: 479px) { animation: marquee 15s linear infinite; }
  }
}

.ticker-active .ticker {
  display: block;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.navbar {
  text-align: right;
  margin-top: 0px;
  & a {
    font-size: 14px;
    &.active:after {
      // display: block;
      content: ' ';
      background-image: url('/assets/icons/taube.svg');
      background-size: 28px 28px;
      background-repeat: no-repeat;
      padding: 25px;
      margin-top: -14px;
      margin-left: -8px;
      position: absolute;
    }
  }
  @media only screen and (max-width: 800px) {
    .c {
      max-width: 380px;
      float: right;
    }
  }
  @media only screen and (max-width: 480px) {
    .c { 
      width: 250px;
    }
  }
  @media only screen and (max-width: 300px) {
    .c { 
      width: 190px;
    }
  }
}

.subnav {
  padding: 0px;
  a {
    display: inline-block;
    margin: 0;
  }
  .btn {
    padding: 3px;
    font-size: 14px;
    margin: 1px -2px 0 0;
    border-width: 1px;
    white-space: nowrap;
    border-bottom: 2px solid $secondary;
    img {
      height: 16px;
      width: 16px;
      vertical-align: text-bottom;
      margin-right: 4px;
    }
    b {
      font-size: 12px;
      margin-right: 4px;
      padding: 0px 3px;
    }
    ion-icon {
      min-width: 16px;
      min-height: 16px;
    }
  }
  a.active {
    .btn {
      border-bottom-color: $primary;
      margin-right: -2px;
    }
  }
  a:hover, a.active {
    opacity: 1;
    .btn {
      &:hover {
        opacity: 1;
        background-color: lighten($secondary, 15%);
        border-bottom-color: lighten($secondary, 15%)
      }
    }
    img, b, ion-icon {
      display: inline-block;
      transform: rotate(15deg);
    }
  }
  a.active:hover {
    img, b, ion-icon {
      transform: rotate(25deg);
    }
  }
  @media only screen and (min-width: 993px) {
    width: 80%;
    .btn {
      padding: 8px;
    }
  }
}

.btn {
  font: 'Libre Franklin';
  letter-spacing: unset;
  text-transform: unset;
  ion-icon {
    vertical-align: text-bottom;
    margin-right: 4px;
  }
}

ion-icon {
  --ionicon-stroke-width: 40px;
  font-size: 16px;
  color: $primary;
}

.card {
  vertical-align: top;
  overflow: hidden;
  h1, h2, h3, h4, h5 {
    margin: 10px 0;
  }
  @media only screen and (max-width: 559px) {
    img {
      margin-bottom: 15px;
    }
  }
}

.bio-more  {
  display: none;
}
.short {
  & .bio {
    padding-right: 12px;
    text-align: justify;
    margin-bottom: 0;
    position: relative;
    --lh: 1.4rem;
    line-height: var(--lh);
    --max-lines: 3;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    &::before {
      content: "...";
      position: absolute;
      bottom: 1px;
      right: 0;
    }
  }
  & .bio-more {
    font-style: italic;
    position: relative;
    top: -2px;
    display: inline;
  }
  & .bio-second-part {
    & > * {
      display: none;
    }
    display: none;
  }
}

li {
  line-height: normal;
}

.btn {
  font-size: 14px;
  cursor: pointer;
  img {
    margin: 0px;
    vertical-align: text-bottom;
    margin-right: 4px;
    width: 16px;
    height: 16px;
  }
}

.social {
  padding-top: 20px;
  .btn {
    font-size: 13px;
  }
  ion-icon {
    color: white;
  }
}

.telegram {
  border: 0;
  width: 100%;
  height: 90vh;
}

.footer {
  .c {
    max-width: 992px;
  }
  margin-bottom: 0;
  flex-shrink: 0;
  font-size: 14px;
  width: 100%;
  & a {
    display: block;
  }
  .footer-links {
    text-align: right;
    float: right;
    width: fit-content;
  }
  .social {
    margin: 0;
    max-width: 60%;
    .btn {
      margin: 3px 0 0 0;
      border-width: 1px;
      padding: 10px;
      display: inline-block;
    }
    padding-top: 0;
    float: left; 
  }
}

.footer-social {
  border-top: 5px solid $secondary;
  margin: 0;
  padding-bottom: 10px;
  background-color: #2a2a2a;
  .social-actions {
    clear: both;
    float: left;
    #___ytsubscribe_0 {
      margin: 0 10px 0 0 !important;
    }
    #twitter-widget-0 {
      margin: 0;
    }
  }
}

#jump-to-top {
  position: fixed;
  bottom: 0px;
  right: 10px;
  cursor: pointer;
  ion-icon {
    color: $primary;
    font-size: 48px;
    &:hover {
      transform: translateY(-5px);
    }
  }
}

.logo {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  width: 10vw;
  height: 10vw;
  min-height: 85px;
  min-width: 85px;
  position: absolute;
  top: 5px;
  left: 20px;
  background-image: url('/assets/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $primary;
  border-radius: 50%;
  border: 2px solid white;
  @media only screen and (max-width: 490px) {
    top: 25px;
    left: 10px;
    width: 75px;
    height: 75px;
    min-width: unset;
    min-height: unset;
    // display: none;
  }
}

.ticker-active .logo {
  top: 25px;
  @media only screen and (max-width: 490px) {
    top: 45px;
  }
}

.lbry-element {
  margin-right: 10px;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.lbry-embed, .lbry-preview {
  background-color: #111;
}

.lbry-embed {
  border: 0;
}

.lbry-preview {
  .overlay-wrapper {
    text-align: center;
    display: inline;
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
  cursor: pointer;
  &:hover {
    background-blend-mode: normal;
  }
  ion-icon {
    display: inline;
    color: $secondary;
    --ionicon-stroke-width: 10px;
  }
}